.width_80 {
    width: 80%;
}

.width_20 {
    width: 20%;
}

.margin {
    margin: 10px;
}

.margin_ui {
    margin: 1%;
}

.center {
    width: 95%;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 150px 2fr 150px;
}