html {
    height: 100%;
}

body {
    height: 100%;
}

.width_80 {
    width: 80%;
}

.width_20 {
    width: 20%;
}

.margin {
    margin: 10px;
}

.margin_ui {
    margin: 1%;
}

.margin_20 {
    margin: 20px;
}

.center {
    width: 95%;
    margin: 0 auto;
}

.stack_grid {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.grid {
    display: grid;
    grid-template-columns: 150px 2fr 150px;
}

.player_area {
    display: grid;
    grid-template-columns: 100px 1fr 50px;
}

.single {
    white-space: nowrap;
    overflow: hidden;
}

.content_area {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.mylistlist {
    background: gray;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.mylistlist_button {
    padding: 10px;
    width: 100%;
    color: white;
    font-size: large;
}

.video_card {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.videolist {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}